kind: Pod
apiVersion: v1
metadata:
  name: test-java-pod
  labels:
    app: test-java-pod
spec:
  containers:
      - name: test-java-pod
        image: us-central1-docker.pkg.dev/genuine-flight-317411/devel/test_java_pod
        ports:
        - containerPort: 1111
---
apiVersion: v1
kind: Service
metadata:
  name: example-service
spec:
  selector:
    app: test-java-pod
  ports:
    - port: 8222
      targetPort: 1111
  type: LoadBalancer